* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* media queries */
  --desktop: 1440px;
  /* colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --desatured-dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsla(0, 0%, 100%, 1);
  --alpha-1: 0.75;
  --alpha-2: 0.6;
  /* fonts */
  --title-font: 2.5rem 700 'Inter', sans-serif;
  --stats-font: 1.5rem 400 'Inter', sans-serif;
  --text-font: 1.5rem 400 'Lexend Deca', sans-serif;
}

main {
  background: var(--very-dark-blue);
  height: 100vh;
  color: var(--white);
}